html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hero{
    max-width : 60%;
    border:none;
    /*background-color:cornflowerblue;*/
}
.icon{
    height:100px;
}
.heroImg {
    margin-top:10px;
    height:300px;
}
.heroWeapon{
    height : 20%;
    background-color:blue;
}
.gridRow1{
    max-height:60%;
}
.gridRow2 {
    max-height: 40%;
}