@model Hero
<div>
    <partial name="_arenaPartial" model="@Model" view-data="ViewData" />
    <partial name="_arenaPartial" model="@Model" view-data="ViewData" />
    <partial name="_arenaPartial" model="@Model" view-data="ViewData" />
</div>
