@using Vamos_Sergy.ViewModels
@model TavernViewModel

<script type="text/javascript">

    function Clicked(id) {
        alert('siker');
    }
</script>
@if (Model.Hero.HeroState == HeroStateEnum.Free)
{
    <div class="tavern">
        <div class="innkeeper" data-bs-toggle="modal" data-bs-target="#inkeeperModal">
        </div>
        <div class="quest" data-bs-toggle="modal" data-bs-target="#questModal">
        </div>
        <div class="gambler" data-bs-toggle="modal" data-bs-target="#gamblerModal">
        </div>
        <div class="modal fade" id="questModal" tabindex="-1" aria-labelledby="questModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="questModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>Quest</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="inkeeperModal" tabindex="-1" aria-labelledby="inkeeperModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="inkeeperModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>Inkeper</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="gamblerModal" tabindex="-1" aria-labelledby="gamblerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="gamblerModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h1>Gambler</h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if(Model.Hero.HeroState == HeroStateEnum.OnAdvanture)
{
    <div class="adventure">
        <div class="progress workProgress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-center" style="width: 75%;">
                <h3 class="progresstext">7:25 (Finished 16:25)</h3>
            </div>
        </div>
    </div>
}
else
{
    <div class="work">
        <div class="progress workProgress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-center" style="width: 75%;">
                <h3 class="progresstext">7:25 (Finished 16:25)</h3>
            </div>
        </div>
    </div>
}