@model Hero;
<div container class="container ">
    <div class="row gridRow1">
        <div class="col col-sm-6">
            <table class="hero table table-borderless">
                <tbody>
                    <tr>
                        <td colspan="2">Bal1</td>
                        <td rowspan="3" colspan="2">kép</td>
                        <td>Jobb1</td>
                    </tr>
                    <tr>
                        <td colspan="2">Bal2</td>
                        <td>Jobb2</td>
                    </tr>
                    <tr>
                        <td colspan="2">Bal2</td>
                        <td>Jobb3</td>
                    </tr>
                    <tr>
                        <td colspan="2">Bal4</td>
                        <td>fegyver1</td>
                        <td>fegyver2</td>
                        <td>Jobb4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-sm-6">
        </div>
    </div>
    <div class="row gridRow1">
        <div class="col col-sm-6">
        </div>
        <div class="col col-sm-6">
        </div>
    </div>
</div>
