@using Vamos_Sergy.ViewModels
@model Hero;
@{
    ViewData["name"] = "ViewHero";
    ViewData["gold"] = Model.Gold;
    ViewData["mushroom"] = Model.Mushroom;
}
<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <partial name="_ViewHeroPartial" model="@Model" view-data="@ViewData" />
        </div>
        <div class="col p-0">
            <div class="container">
                <div class="row">
                    <div class="row row-cols-5 ps-0 pe-0 " s>
                        <partial name="_InventoryLayout" model="@Model" view-data="@ViewData" />
                    </div>
                </div>
                <div class="row">
                    <div class=" col">
                        <textarea class="heroDesc" placeholder="Click here to edit xour character description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
